

/* Get rid of body margins so container takes up whole page */
body {
    margin: 0;
    padding: 0;
}

/* TOP NAV STYLE */
/* Add a background color to the top navigation bar */
.topnav {
    display: flex;
    overflow: hidden;
    background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
    /*float: left;*/
    align-self: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=search] {
    margin-left: auto;
    padding: 6px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/* Outer padding foer body header div */
.padding {
    width: 20%;
}


/* BODY HEADER STYLE */
/* Background color for header */
.bodyheader {
    display: flex;
    overflow: hidden;
}

/* Style the divs inside the body header bar */
.bodyheader div {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: -25px;
}

/* Card name style */
.bodyheader #cardnameContainer {
    margin-bottom: -50px;
    font-size: 40px;
    color: blue;
}

/* Price div style */
.bodyheader #pricediv {
    margin-left: auto;
    align-self: flex-end;
}

/* Price header style */
.bodyheader .priceheader {
    font-size: 16px;
    opacity: 0.5;
    color: black;
    margin-top: 30px;
    margin-bottom: -35px;
}

/* Price number style */
.bodyheader .price {
    font-size: 30px;
    font-weight: bold;
    color: black;
}


/* VISUALIZATION AREA STYLE */
#vis {
    width:60%; 
    margin-top: 20px; 
    margin-left:20%; 
    height:600px; 
    background-color: #e6e6e6; 
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 5px;
}









































